* {
    box-sizing: border-box;
    margin:0;
  }


.header {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 20 px;
    height: 50px;
    
    
}

h1{
    color:  #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom: 10px;
    font-size: 20px;
}

hr {

    margin-bottom: 15px;
}

.tab{
    width: 150px;
    background-color:  #4aaaa5;
    text-align: center;
    font-size: 27px;
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:10px 0 ;
    position: absolute;
    float: left;
    margin: 0px;
}

nav{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
  
    
}

a:link {
    color: #777777;
    text-decoration:none;
}
a:visited {
    color: #777777;
}

.wrapper{
        width: 100%;
        background-image: url("../images/full-bloom.png");
        background-repeat: repeat;
        float: left;
        border-top: #cccccc solid 1px;
        border-bottom: #4aaaa5 solid 5px;
   
}

.contents{
    width: 960px;
    background-color: #ffffff;
    margin: 40px auto 50px auto;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #777777;
    border: #dddddd solid 1px;
    overflow: auto;
   

}
ul{
    list-style-type: none;
    float: right;
    padding-top: 15px;
}

li {
    float: left;
    padding: 0 10px 0 10px;

    border-right: 1px solid #bbb;
  
}
li:last-child {
    border-right: none;
    padding-right: 0;
}

.img {
    width: 20%;
    float: left;
    padding : 0 10px 5px 0;

}

.foot{
    background-color:  #666666;
    clear: both;
    color: #bbb;
    text-align: center;
    padding: 30px 0;
    height:40px;
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;

}


.responsive {
    padding: 0 6px;
    float: left;
    width: 33%;
  
}

.responsive2 {
    padding: 0 6px;
     width: 33%;
   
}


.gallery{ 
    position: relative;
    float: left;
    margin: 15px;
    
 
} 

#ptitle {

    position: absolute;
    background-color:  #4aaaa5;
    text-align: center;
    font-size: 12px;
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:5px ;
    bottom:20px;
    width: 100%;

}

form {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
    width:100%;

   
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}